body{
    background: #eeedec;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fHdlYXRoZXJ8ZW58MHx8fHwxNjg5NTY1MjQ3&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    filter: blur(0px);
    transition: filter 0.3s ease-in-out;    
    overflow: hidden;
    z-index: -1;
}
.container{
    max-width: 400px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    
}
.icon{
    position: relative;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: -50px;
}
